<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Details</title>
    <link rel="stylesheet" th:href="@{/order-details.css}">
</head>
<body>
    <h1>Order Details</h1>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entry : ${orderDetails.entrySet()}">
                <td th:text="${entry.key.brand}">Brand</td>
                <td th:text="${entry.key.name}">Product Name</td>
                <td th:text="${entry.key.price}">Price</td>
                <td th:text="${entry.value}">Quantity</td>
            </tr>
        </tbody>
    </table>
    <a href="/user/orderhistory">Back to Order History</a>
</body>
</html>
