apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: pes2ug21cs263nikitamabel/order-service:1.0
        env:
        - name: MYSQL_HOST
          value: mysql
        - name: MYSQL_PASSWORD
          value: root
        - name: PRODUCT_SERVICE_HOST
          value: product-service
        ports:
        - containerPort: 8082
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  type: NodePort
  ports:
    - port: 8082
      nodePort: 30002
  selector:
    app: order-service
